# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Data
data/*.csv
!data/raw_events.csv
data/*.png

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Airflow
logs/
airflow.db
*.log

# OS
.DS_Store
Thumbs.db
